// 主题色
$primary-color: #e799b0;
// 辅助色
$secondary-color: #edd1bb;
// 点缀色
$adorn-color: #fdfcfa;
// 激活色
$active-color: hsl(342.31, 61.9%, 65.29%);
// 成功色
$success-color: #89dc65;
// 警告色
$warning-color: #f3e85c;
// 错误色
$error-color: #db7d74;
// 禁止色
$disabled-color: #576690;
// 文字色
$font-color: #333;
